## Author:-Mahirkumar

## Author:-Mahirkumar

In [ ]:
# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In [2]:
print("In this notebook, Data Science Tools and Ecosystem are summarized.")

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
***Objectives:***
- List popular languages for Data Science
- commonly used libraries
- evaluating arithmetic expressions

***Objectives:***
- List popular languages for Data Science
- commonly used libraries
- evaluating arithmetic expressions

In [ ]:
Some of the popular languages that Data Scientists use are:
1. Python
2. Scala
3. R

Some of the popular languages that Data Scientists use are:
1. Python
2. Scala
3. R

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
-NumPy
-Pandas
-Matplotlib

Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Pandas
- Matplotlib

In [ ]:
a table of Data Science tools
|Data Science Tools|
|------|
|RStudio|
|TensorFlow|
|Apache Spark|

a table of Data Science tools
|Data Science Tools|
|------|
|RStudio|
|TensorFlow|
|Apache Spark|

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
print("This a simple arithmetic expression to mutiply then add integers")
print((3*4)+5)

This a simple arithmetic expression to mutiply then add integers
17

In [3]:
print("This will convert 200 minutes to hours by diving by 60")
print(200/60)

This will convert 200 minutes to hours by diving by 60
3.3333333333333335